.logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.178px;
}

.logo svg {
  width: 51px;
  height: 51px;
}

.name-user span {
  font-size: 18px;
}

.avatar-img {
  width: 50px;
  height: 50px;
}

.tex-items {
  color: var(--Grey-grey-9, #262626);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.045px;
}

.items-icon {
  max-width: 167px;
  min-height: 255px;
  width: 100%;
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}

.items-icon .items-icon-in {
  padding: 35px 10px;
  background: rgba(0, 119, 213, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
}

.items-icon .items-icon-in:hover {
  background: var(--Blue, #0077d5);
}

.items-icon .items-icon-in:hover .icon-border {
  border: 1px solid #fff;
}

.items-icon .items-icon-in:hover .icon-border svg path {
  fill: #fff;
}

.items-icon .items-icon-in:hover .content {
  color: #fff;
}

.items-icon .items-icon-in p.content {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon-border {
  border: 1px solid #0077d5;
  border-radius: 20px;
  padding: 13px;
}

/* .footer-top .footer-top-col {
  max-width: 430px;
  width: 100%;
} */

.email-input .button-footer {
  top: 1px;
  right: 1px;
}

.navbar-mobile-top {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slider-items {
  padding: 0 20px 20px 0px;
}

.footer-container {
  padding: 60px 20px;
}

.nav-link-mobile {
  display: none;
}

.title-top-header {
  color: var(--Grey-grey-9, #262626);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 40px 0;
}

.box-shadow-product {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-cccd {
  aspect-ratio: 3;
}

.card-cccd .icon-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1280px) {
  .nav-link {
    display: none;
  }

  .home-page .banner-top .user-home {
    padding: 20px;
    bottom: -20%;
  }

  .nav-link-mobile {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 6px;
    margin-left: 10px;
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }

  .home-page .banner-top .user-home .user-home-content h3 {
    font-size: 26px;
  }

  .home-page .banner-top .user-home .user-home-content p {
    font-size: 14px;
  }

  .logo {
    font-size: 18px;
  }

  .logo svg {
    width: 38px;
    height: 38px;
  }

  .name-user {
    flex-direction: column;
  }
  .name-user {
    align-items: flex-end;
  }

  .title-top-header {
    display: none;
  }

  .product-items {
    margin: 16px;
  }

  .name-user span {
    font-size: 12px;
  }

  .avatar-img {
    width: 32px;
    height: 32px;
  }

  .phone-user {
    display: none;
  }

  .user-phone span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .navbar-mobile-top .avatar-img {
    width: 50px;
    height: 50px;
  }

  .border-bottom-1 {
    border-bottom: 1px solid #d1d1d6;
  }

  .card-cccd {
    aspect-ratio: 0;
    height: 100px;
  }
}

@media screen and (max-width: 1025px) {
  .home-page .banner-top img {
    width: 100%;
    aspect-ratio: 1920 / 905;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .home-page .banner-top {
    padding-top: 0;
  }

  .footer-top {
    padding: 16px;
  }

  .home-page .banner-top img {
    width: 100%;
    aspect-ratio: 1920 / 2000;
    object-fit: cover;
    object-position: center;
  }

  .slider-items-products {
    padding: 16px;
  }
  .tex-items {
    color: var(--Grey-grey-9, #262626);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.035px;
  }
}

/* card_new_page */

.card_new_page {
  max-width: 410px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d1d1d6;
  background: #fff;
  overflow: hidden;
}

.card_new_page img {
  width: 100%;
}

.card_new_page .title-card-new .title-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.card_new_page .title-card-new .title-new h3 {
  overflow: hidden;
  color: var(--Grey-grey-9, #262626);
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card_new_page .title-card-new .title-new p {
  max-width: 381px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--Grey-grey-9, #262626);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.card_new_page .title-card-new .title-new button {
  display: flex;
  padding: 13px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  border: 1px solid #0076b7;
  background: #fff;
}

.card_new_page .title-card-new .title-new button p {
  color: #0076b7;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
