/* @font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"),
    url("../src/assets/font/segoeuithis.ttf") format("ttf");
} */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", serif;
  font-style: normal;
  font-weight: normal;
  background-color: #f5f5f5;
}
@media (min-width: 1280px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.page {
  padding: 24px 16px 96px 16px;
}

.page-1 {
  padding: 24px 16px 0 16px;
}

.page-2 {
  padding: 16px 16px 24px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
}

.header-page {
  width: 100%;
  z-index: 999;
  background: #fff;
}

/* CSS */
.active {
  font-weight: bold;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: white;
}

/* .home-page {
  background-color: white;
} */

.home-page .banner-top {
  position: relative;
  height: 100%;
  /* padding-top: 40px; */
}

.home-page .banner-top img {
  width: 100%;
  aspect-ratio: 1920/600;
}

.nav-link a {
  color: #000;
}

.nav-link a.active {
  color: var(--Blue, #0077d5);
  font-weight: bold;
  position: relative;
}

.home-page .banner-top .user-home {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page .banner-top .user-home .user-home-content {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.home-page .banner-top .user-home .user-home-content h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.home-page .banner-top .user-home .user-home-content p {
  color: #fff;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.home-page .banner-top .user-home .user-home-content button {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  border: 1px solid #fff;
  background: var(--Blue, #0077d5);

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box-user {
  border-radius: 12px;
  background: #fefefe;
  box-shadow: 0px 41px 12px 0px rgba(133, 133, 133, 0),
    0px 26px 11px 0px rgba(133, 133, 133, 0.01),
    0px 15px 9px 0px rgba(133, 133, 133, 0.05),
    0px 7px 7px 0px rgba(133, 133, 133, 0.09),
    0px 2px 4px 0px rgba(133, 133, 133, 0.1);
}

.main-category-home {
  background: rgba(0, 119, 213, 0.05);
}

.category-home .title h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* card-new */

.card-new {
  display: flex;
  max-width: 314px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 0px 8px 8px;
  background: var(--Grey-white, #fff);

  /* shadow tin tức */
  box-shadow: 0px 32px 9px 0px rgba(171, 171, 171, 0),
    0px 20px 8px 0px rgba(171, 171, 171, 0.01),
    0px 12px 7px 0px rgba(171, 171, 171, 0.05),
    0px 5px 5px 0px rgba(171, 171, 171, 0.09),
    0px 1px 3px 0px rgba(171, 171, 171, 0.1);
}

.card-new img {
  height: 198.469px;
  aspect-ratio: 314/199;
  flex-shrink: 0;
  border-radius: 8px 8px 0px 0px;
}

.card-new .title-card-new .button-card-new button {
  padding: 8px 12px;
  background: #096dd9;
  border-radius: 6px;
  color: var(--Grey-white, var(--global-neutral-white, #fff));
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.03px;
}

.swiper {
  padding-left: 16px !important;
  padding-bottom: 10px !important;
  width: 100%;
  height: 100%;
}

#google-button-wrapper {
  display: block;
  visibility: visible;
  height: auto;
}

/* .swiper-slide {
  width: 314px !important;
} */

.swiper-slide img {
  display: block;
}

/* card-new-end */

.card-cccd {
  position: relative;
  padding: 10px;
}

.card-cccd .icon-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-add {
  padding: 12px;
  border-radius: 8px;
  background: var(--Neutral-W, #fff);
  box-shadow: 0px 2px 6px 0px rgba(20, 20, 21, 0.14);
}

.link-butoon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Grey-white, #fff);
  box-shadow: 0px 0px 2px 0px rgba(13, 22, 35, 0.14),
    0px 2px 2px 0px rgba(13, 22, 35, 0.06);
}

.custom-select-arrow {
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23333" strokeWidth="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>')
    no-repeat;
  background-position: right 10px center; /* Dịch mũi tên vào 10px */
  padding-right: 30px; /* Điều chỉnh khoảng cách padding để không bị che khuất */
}

/* CSS to remove the spin buttons in number input */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield; /* Firefox */
}

.selectCustom {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: calc(100% - 10px);
}

.ant-select-dropdown {
  z-index: 8;
  width: "100px";
  top: -2;
}

.ant-picker-dropdown {
  z-index: 8;
}

.ant-select-item-option-content {
  white-space: normal !important;
  word-break: break-word !important; /* Để text tự ngắt dòng */
}

.footer-bot p {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kiem-tra {
  width: 45%;
  display: flex;
  padding: 12px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--Blue, #0077d5);
  background: #fff;

  color: var(--Blue, #0077d5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}
#gsi_915397_931176 {
  max-width: 450px;
  width: 100% !important;
  max-height: 62px;
  height: 100% !important;
}
.haAclf,
.nsm7Bb-HzV7m-LgbsSe {
  width: 100%;
  height: 100%;
  max-width: 450px !important;
  max-height: 62px !important;
}

.nsm7Bb-HzV7m-LgbsSe .n1UuX-DkfjY {
  width: 35px;
  height: 35px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-size: 18px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff {
  font-size: 16px;
}


.custom-input::placeholder {
  color: '#5F5F5F';
  font-size: 16px;
  line-height: 20px;
}

.custom-carousel .slick-dots li button {
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: #ccc;
  border: none
}

.custom-carousel .slick-dots li.slick-active button {
  background: #2a65c7; 
  width: 24px;
  height: 13px;
  border-radius: 7px; 
}

 .ant-otp-input{
  height: 48px !important;
  font-size: 16px;
}